<div class='form' *ngIf = 'show'>
    <section >
      <form>
        <div class="partOne">
          <label>Title</label>
          <input name='title' [(ngModel)]="typetitle" type="text" placeholder="Post title" />
            </div>
        <div class="partTwo">
          <label >Thought</label>
          <textarea [(ngModel)]="message" name='message'></textarea>
           </div>
          <button   (click) = 'hideForm()' (click) = 'addPost(typetitle,message)' type="button" class="addPost">Add Post</button>
       </form>
    
    </section>
    </div>