.form {
    z-index: 500;
    position: fixed;
    height: 125vh;
    display: flex;
    align-items: center;
    top: 0px;
    width: 90%;
   
}

section {
    background: lightgray;
    width: auto;
    max-width: 700px;
    border-radius: 10px;
    padding: 2.0em;
    padding-right:5.2em;
    padding-left: 10em;
    position: relative;
    opacity: 10;
  
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:45.0em; 
    
}

.partOne, .partTwo,.addPost,button {
    display: flex;
    flex-direction: column; 
    margin:.7em;
    width:35.0em;
}

label {
  padding: .9em;
  padding-left:0;

}
input, textarea {
  padding: 1.0em;
  width: 40em;
}

.addPost,button {
    border-radius: 5px;
    margin: 1.0em;
    margin-right: 10em;
    padding: 1.2em;
    padding-right: 10em;
    padding-left: 12.0em;
    width: 30em;
    font-weight: bold;
     
}

input:focus {
    width: 70%;
    outline: none;
   }

input {
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
   }
   
   
textarea:focus {
    height: 150px;
    outline: none;
   }
   
   textarea {
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
   
   }